@charset "UTF-8";
/*reset*/
html, body {
  width: 100%; }

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%; }

body, h1, h2, h3, h4, blockquote, p, dl, dt, dd, ul, ol, li, th, td, form, fieldset, legend, button, input, select, textarea {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 14px/1.5 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,"微软雅黑",\5b8b\4f53,arial,sans-serif;
  vertical-align: baseline;
  color: #333;
  outline: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    line-height: normal !important; } }
select[size], select[multiple], select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video, progress {
  display: inline-block; }

button, input, select, textarea, h1, h2, h3, h4 {
  font-size: 100%; }

b, strong {
  font-weight: bold; }

em, i {
  font-style: normal; }

ol, ul {
  list-style: none;
  list-style-position: outside; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, fieldset {
  border: 0;
  vertical-align: top; }

.cf:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden; }

.cf {
  *zoom: 1; }

.clear {
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }

a, a:hover {
  color: #333;
  text-decoration: none;
  outline: none; }

.fl, .mark {
  float: left; }

.fr, .subMark {
  float: right; }

.mt10 {
  margin-top: 10px; }

.bHeader_mSearch {
  display: none; }

.bHeader {
  width: 100%;
  text-align: center; }

.bHeader_con {
  background: #131418; }

.bHeader_logo {
  font-weight: 700;
  color: #fff; }
  .bHeader_logo:hover {
    color: #fff; }

@media only screen and (min-width: 1025px) {
  .bHeader_mBar, .bHeader_mBar_close, .bHeader_mRail, .bHeader_mSearch_lens {
    display: none; }

  .bHeader {
    height: 58px;
    position: fixed;
    top: 0;
    left: 0; }

  .bHeader_logo {
    height: 58px;
    line-height: 58px;
    padding: 0 27px;
    float: left;
    font-size: 18px; }

  .bHeader_pLog {
    height: 58px;
    line-height: 58px;
    padding: 0 10px;
    float: right;
    color: #fff; }
    .bHeader_pLog a {
      color: #fff; }
      .bHeader_pLog a:hover {
        color: #ccc; }

  .bHeader_pCen {
    display: inline-block;
    text-align: left; } }
@media only screen and (max-width: 1024px) {
  .bHeader_pCen, .bHeader_pLog {
    display: none; }

  .bHeader_con {
    height: 40px;
    position: relative; }

  .bHeader_mRail {
    display: block;
    width: 21px;
    height: 20px;
    padding: 10px 0;
    float: left;
    margin-left: 10px; }
    .bHeader_mRail i {
      position: relative; }
      .bHeader_mRail i, .bHeader_mRail i::before, .bHeader_mRail i::after {
        display: block;
        width: 21px;
        height: 3px;
        line-height: 0;
        font-size: 0;
        border-radius: 2px;
        background: #fff; }
      .bHeader_mRail i::before, .bHeader_mRail i::after {
        content: '';
        position: absolute;
        left: 0; }
      .bHeader_mRail i::before {
        top: 8px; }
      .bHeader_mRail i::after {
        top: 16px; }

  .bHeader_logo {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 16px; }

  .bHeader_mSearch_lens {
    width: 40px;
    height: 40px;
    float: right;
    padding-right: 10px; }
    .bHeader_mSearch_lens i {
      display: block;
      width: 40px;
      height: 40px;
      background: #fff; }

  .bHeader_con {
    width: 100%;
    float: right;
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s; }

  .bHeader_mBar {
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #131418;
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s; }

  .bHeader_mBar_top {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px; }

  .bHeader_mBar_close {
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    overflow: hidden; } }
@media only screen and (min-width: 604px) and (max-width: 1024px) {
  .bHeader_con {
    padding: 9px 0; } }
@media only screen and (max-width: 603px) {
  .bHeader_con {
    padding-bottom: 5px; } }
/** blo-dropA depend on _keyframes.scss **/
.bDropA {
  display: inline-block;
  height: 58px;
  position: relative;
  background: #131418; }
  .bDropA:hover {
    background: #2b2b2b; }
    .bDropA:hover .bDropA_pop {
      display: block; }

.bDropA_tit {
  display: block;
  height: 58px;
  padding: 0 10px;
  line-height: 58px;
  color: #fff; }
  .bDropA_tit:hover {
    color: #fff; }

.bDropA_pop {
  display: none;
  width: 185px;
  padding: 8px 0;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 58px;
  left: 0;
  background: #2b2b2b;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s; }
  .bDropA_pop a {
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    font-size: 12px;
    color: #e5e5e5; }
    .bDropA_pop a:hover {
      background: blue; }

/** keyframes **/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*reset*/
html, body {
  width: 100%; }

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%; }

body, h1, h2, h3, h4, blockquote, p, dl, dt, dd, ul, ol, li, th, td, form, fieldset, legend, button, input, select, textarea {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 14px/1.5 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,"微软雅黑",\5b8b\4f53,arial,sans-serif;
  vertical-align: baseline;
  color: #333;
  outline: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    line-height: normal !important; } }
select[size], select[multiple], select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video, progress {
  display: inline-block; }

button, input, select, textarea, h1, h2, h3, h4 {
  font-size: 100%; }

b, strong {
  font-weight: bold; }

em, i {
  font-style: normal; }

ol, ul {
  list-style: none;
  list-style-position: outside; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, fieldset {
  border: 0;
  vertical-align: top; }

.cf:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden; }

.cf {
  *zoom: 1; }

.clear {
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }

a, a:hover {
  color: #333;
  text-decoration: none;
  outline: none; }

.fl, .mark {
  float: left; }

.fr, .subMark {
  float: right; }

.mt10 {
  margin-top: 10px; }

/** blo-buttonA depend on **/
.bBtnA {
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background: -webkit-linear-gradient(top, #0096ff, #005dff);
  background: -moz-linear-gradient(top, #0096ff, #005dff);
  background: -ms-linear-gradient(top, #0096ff, #005dff);
  background: -o-linear-gradient(top, #0096ff, #005dff);
  background: linear-gradient(top, #0096ff, #005dff);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .bBtnA:hover {
    color: #fff;
    background: -webkit-linear-gradient(top, #0096cc, #005dcc);
    background: -moz-linear-gradient(top, #0096cc, #005dcc);
    background: -ms-linear-gradient(top, #0096cc, #005dcc);
    background: -o-linear-gradient(top, #0096cc, #005dcc);
    background: linear-gradient(top, #0096cc, #005dcc); }

/*reset*/
html, body {
  width: 100%; }

html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%; }

body, h1, h2, h3, h4, blockquote, p, dl, dt, dd, ul, ol, li, th, td, form, fieldset, legend, button, input, select, textarea {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 14px/1.5 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,"微软雅黑",\5b8b\4f53,arial,sans-serif;
  vertical-align: baseline;
  color: #333;
  outline: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    line-height: normal !important; } }
select[size], select[multiple], select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video, progress {
  display: inline-block; }

button, input, select, textarea, h1, h2, h3, h4 {
  font-size: 100%; }

b, strong {
  font-weight: bold; }

em, i {
  font-style: normal; }

ol, ul {
  list-style: none;
  list-style-position: outside; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, fieldset {
  border: 0;
  vertical-align: top; }

.cf:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden; }

.cf {
  *zoom: 1; }

.clear {
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden; }

a, a:hover {
  color: #333;
  text-decoration: none;
  outline: none; }

.fl, .mark {
  float: left; }

.fr, .subMark {
  float: right; }

.mt10 {
  margin-top: 10px; }

/** blo-buttonB depend on **/
.bBtnB {
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background: -webkit-linear-gradient(top, #525252, #151515);
  background: -moz-linear-gradient(top, #525252, #151515);
  background: -ms-linear-gradient(top, #525252, #151515);
  background: -o-linear-gradient(top, #525252, #151515);
  background: linear-gradient(top, #525252, #151515);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .bBtnB:hover {
    color: #fff;
    background: -webkit-linear-gradient(top, #525200, #151500);
    background: -moz-linear-gradient(top, #525200, #151500);
    background: -ms-linear-gradient(top, #525200, #151500);
    background: -o-linear-gradient(top, #525200, #151500);
    background: linear-gradient(top, #525200, #151500); }

/*# sourceMappingURL=header.css.map */
